@charset "utf-8";

.facebook-share-button{
    display: inline-block;            
    width: 40px;
    height: 40px;
    margin: 5px;
    background-size: 100% 100%; /* ou 'contain' */
    background-image: url("icone-facebook.jpg");
    background-repeat: no-repeat;
    background-position: center;
}